% include("header", title="Users")
    <main>
        <section id="homepage-container">
            <h1>Welcome to twetter</h1>
            <div id="tweet-gif">
                <img src="/static/twitter-gifs.gif" alt="">
            </div>
            <div id="home-btn-wrap">
                <a href="/login" class="home-btn" id="home-login">Login</a>
                <a href="/signup" class="home-btn" id="home-signup">Signup</a>
            </div>
        </section>
    </main>
% include("footer")
